asgiref==3.8.1
cffi==1.17.1
cryptography==43.0.3
Django==5.1.2
django-cors-headers==4.5.0
django-rest-framework==0.1.0
djangorestframework==3.15.2
pycparser==2.22
pyodbc==5.2.0
python-dotenv==1.0.1
setuptools==65.5.0
sqlparse==0.5.1
tzdata==2024.2
